source https://nuget.org/api/v2
framework: net45, net461
nuget Microsoft.Owin.Host.SystemWeb
nuget Microsoft.AspNet.WebApi.Owin
nuget Microsoft.Owin.Cors
nuget AutoFixture
nuget LightInject.WebApi
nuget SimpleHelpers.ObjectDiffPatch
nuget Swashbuckle.Core
nuget NUnit
nuget NSubstitute
nuget FluentAssertions
nuget Microsoft.Extensions.Configuration.Abstractions 1.0.0
nuget Microsoft.Extensions.Primitives 1.0.0
nuget Microsoft.Extensions.Configuration 1.0.0
nuget Microsoft.Extensions.Configuration.Json 1.0.0
nuget Microsoft.Extensions.Configuration.FileExtensions 1.0.0
nuget Microsoft.Extensions.FileProviders.Physical 1.0.0
nuget Microsoft.Extensions.FileProviders.Abstractions 1.0.0
nuget Microsoft.Extensions.FileSystemGlobbing 1.0.0
nuget FluentValidation.WebAPI
nuget Bogus
nuget Serilog.Sinks.Async
nuget Serilog.Sinks.RollingFile