source https://nuget.org/api/v2

nuget Microsoft.CodeDom.Providers.DotNetCompilerPlatform
nuget Microsoft.Owin.Host.SystemWeb
nuget Microsoft.AspNet.WebApi.Owin
nuget AutoFixture
nuget LightInject.WebApi